<table id="customerTable" cellspacing="0" cellpadding="0">
  <caption>Books
  <a href="/addbook" class="btn btn-red">+Add New</a>
  </caption>
  <thead>
    <tr>
      <th>Id</th>
      <th (click)="sort('name')">Name
        <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th>author</th>
      <th>pages</th>
      <th>dateofpublication</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books |  orderBy: key : reverse | paginate: { itemsPerPage: itemPerPage, currentPage: p, totalItems: total };">
      <td>{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.pages}}</td>
      <td>{{book.dateofpublication}}</td>
      <th>
        <a href="/editBook/{{book.id}}" class="btn btn-grey">Edit</a>
        <a (click)="delete(book.id)" href="javascript:void(0);" class="btn btn-red">Delete</a>
      </th>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</table>
<!--<my-pagination (goPage)="goToPage($event)"
               (goNext)="onNext()"
               (goPrev)="onPrev()"
               [pagesToShow]="3"
               [page]="page"
               [perPage]="limit"
               [count]="total"></my-pagination>-->